---
import Layout from "@/layouts/Layout.astro";
import CategoryHeader from "@/components/CategoryHeader.astro";
import { clothingCategories } from "@/content/clothingCategories";
import bekleidung from "@/assets/projekte.webp";
type Language = "de" | "en"; // ✅ exakt erlaubt

const pageLanguage = (Astro.locals.language ?? "de") as Language;
type MetaData = {
  pageTitle: {
    de: string;
    en: string;
  };
  pageDescription: {
    de: string;
    en: string;
  };
};
const metaData: MetaData = {
  pageTitle: {
    de: "Individuelle Textillösungen für Unternehmen | Feuchter GmbH",
    en: "Tailored Apparel for Businesses Since 1957 | Feuchter GmbH",
  },
  pageDescription: {
    de: "Zuverlässige Bekleidungslösungen für Militär, Behörden, Sicherheitsdienste und Unternehmen. Funktional, langlebig, professionell – seit Jahrzehnten bewährt.",
    en: "Reliable workwear for military, government, security, and businesses. Durable, functional, and professional – trusted for decades.",
  },
};
const textContent = {
  title: {
    de: "Bekleidungslösungen für Unternehmen, Militär und Behörden",
    en: "Tailored Clothing Solutions for Government, Military, and Corporate Clients",
  },
  text: {
    de: "Als zuverlässiger Partner für Militär, Behörden, Sicherheitsdienste und Unternehmen bieten wir ein sorgfältig ausgewähltes Sortiment an funktionaler und langlebiger Berufskleidung. Ob für den anspruchsvollen Einsatz im Feld, den täglichen Dienst bei Behörden oder ein einheitliches, professionelles Auftreten im Unternehmen – unsere Bekleidungslösungen vereinen Funktionalität, Komfort und Qualität.",
    en: "As a trusted partner to the military, government agencies, security services, and corporate clients, we offer a carefully curated selection of functional and durable professional apparel. Whether for demanding field operations, daily duty within official institutions, or a cohesive and professional corporate appearance – our clothing solutions combine functionality, comfort, and quality.",
  },
};
---

<Layout
  pageTitle={metaData.pageTitle[pageLanguage]}
  pageDescription={metaData.pageDescription[pageLanguage]}
>
  <section>
    <div class="container">
      <CategoryHeader
        categories={clothingCategories}
        pageLanguage={pageLanguage}
        textContent={textContent}
      />
    </div>
  </section>
</Layout>
<style>
  section {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        var(--verydarkgray)
      ),
      var(--bg);
    background-size: cover;
    background-position: left;
    padding-top: 100px;
    position: relative;
    min-height: 50vh;
  }
</style>
