---
import Layout from "@/layouts/Layout.astro";
import CategoryHeader from "@/components/CategoryHeader.astro";
import { transportCategories } from "@/content/transportCategories";
import transportwand from "@/assets/transportwand_header.webp";
type Language = "de" | "en"; // ✅ exakt erlaubt

const pageLanguage = (Astro.locals.language ?? "de") as Language;
type MetaData = {
  pageTitle: {
    de: string;
    en: string;
  };
  pageDescription: {
    de: string;
    en: string;
  };
};
const metaData: MetaData = {
  pageTitle: {
    de: "Nachhaltige Lösungen für Rollcontainer | Feuchter GmbH",
    en: "Reusable Solutions for Roll Cage Trolleys | Feuchter GmbH",
  },
  pageDescription: {
    de: "Wir setzen neue Maßstäbe in Sachen Nachhaltigkeit und Funktionalität im Bereich der Rollcontainer-Lösungen.",
    en: "We are setting new standards in sustainability and functionality for roll container solutions.",
  },
};
const textContent = {
  title: {
    de: "Nachhaltige Lösungen für Rollcontainer",
    en: "Reusable Solutions for Roll Cage Trolleys",
  },
  text: {
    de: "Wir setzen neue Maßstäbe in Sachen Nachhaltigkeit und Funktionalität im Bereich der Rollcontainer-Lösungen. Unsere innovativen Produkte ersetzen Einwegmaterialien durch langlebige, wiederverwendbare Alternativen – ganz ohne Kompromisse bei Sicherheit oder Effizienz. Mit unseren Lösungen tragen Sie aktiv zur Reduzierung von Einwegmaterialien bei und gestalten Ihre Logistikprozesse zukunftssicher – wirtschaftlich und ökologisch.",
    en: "We are setting new standards in sustainability and functionality for roll container solutions. Our innovative products replace single-use materials with durable, reusable alternatives – without compromising on safety or efficiency. With our solutions, you actively reduce single-use materials and future-proof your logistics processes – both economically and ecologically.",
  },
};
---

<Layout
  pageTitle={metaData.pageTitle[pageLanguage]}
  pageDescription={metaData.pageDescription[pageLanguage]}
>
  <section>
    <div class="container">
      <CategoryHeader
        categories={transportCategories}
        pageLanguage={pageLanguage}
        textContent={textContent}
      />
    </div>
  </section>
</Layout>
<style>
  section {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        var(--verydarkgray)
      ),
      var(--bg);
    background-size: cover;
    background-position: left;
    padding-top: 100px;
    position: relative;
    min-height: 50vh;
  }
</style>
