---
const { categories, pageLanguage, textContent } = Astro.props;
import Arrow from "@/assets/Arrow_sand.svg";
import { buttonTranslations } from "@/content/translations";
---

<div class="function">
    <div class="headline-and-title">
        <h2 class="animatable">{textContent.title[pageLanguage]}</h2>
        <p class="headline-text">{textContent.text[pageLanguage]}</p>
    </div>
    <div class="image-grid">
        {
            categories.map((item) => {
                return (
                    <div class="grid-item">
                        <img src={item.img} alt="" />
                        <p class="grid-item-title">
                            {item.title[pageLanguage]}
                        </p>
                        <p class="grid-item-text">{item[pageLanguage]}</p>
                        <a
                            href={`/${pageLanguage}/${item.slug}`}
                            class="project-link"
                        >
                            <img src={Arrow.src} alt="" />
                            <span>
                                {buttonTranslations("toproducts", pageLanguage)}
                            </span>
                        </a>
                    </div>
                );
            })
        }
    </div>
</div>

<style>
    h2 {
        background: linear-gradient(135deg, var(--lightgray), var(--sand));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.2rem !important;
        line-height: 1.2rem !important;
        margin: 0;
        text-transform: uppercase;
    }
    .headline-and-title {
        border-right: 1px solid var(--sand);
        padding-right: 20px;
    }
    .headline-text {
        color: var(--lightgray);
        font-size: 0.9rem;
        font-weight: 500;
    }
    .function {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: 50px 0;
        gap: 50px;
        @media screen and (max-width: 1028px) {
            grid-template-columns: 1fr;
            padding: 0 20px;
        }
    }
    .image-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        @media screen and (max-width: 1028px) {
            grid-template-columns: 1fr;
        }
    }
    .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .grid-item img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    .grid-item-title {
        color: var(--lightgray);
        font-weight: 700;
        font-size: 1.1rem;
        margin-bottom: 0;
    }
    .grid-item-text {
        color: var(--lightgray);
        font-weight: 300;
        font-size: 0.8rem;
    }
    .project-link {
        color: var(--sand);
        text-decoration: none;
        font-size: 0.7rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        transition: gap 0.3s ease-in-out;
        gap: 10px;
        font-family: "Afacadflux", sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .project-link:hover {
        gap: 20px;
    }
    .project-link img {
        width: 5px;
        height: auto;
    }
</style>
