---
// WICHTIG: Sowohl navlinks als auch MOBILE NAV LINKS muss das languages Prop erhalten!!!!!!
import Logo from "../assets/feuchter_gmbh_logo.svg";
import Menu from "../assets/Menu.svg";
import LangSwitcher from "./LangSwitcher.astro";
import { navLinks } from "@/content/navLinks";
import type { TranslatedNavigation } from "@/types";
const { languages, language } = Astro.props;
const links = navLinks[language as keyof TranslatedNavigation];
---

<nav id="navbar">
  <div class="nav-inner">
    <a href={`/${language}/`}>
      <img
        src={Logo.src}
        alt=""
        class="logo"
        fetchpriority="high"
        loading="eager"
      />
    </a>

    <div class="links">
      {
        links.map((link) => {
          return <a href={`/${language}/${link.to}`}>{link.text}</a>;
        })
      }
    </div>
    <LangSwitcher langs={languages} />
    <div class="menu-button-wrapper">
      <img
        src={Menu.src}
        alt=""
        class="menu"
        id="menu"
        fetchpriority="high"
        loading="eager"
      />
    </div>
  </div>
  <div class="mobile-links hidden" id="mobile-links">
    <LangSwitcher langs={languages} />
    {
      links.map((link) => {
        return (
          <a href={`/${language}/${link.to}`} class="mobile-link">
            {link.text}
          </a>
        );
      })
    }
  </div>
</nav>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const navbar = document.getElementById("navbar");
    const body = document.getElementById("body");
    const mobileLinks = document.getElementById("mobile-links");
    const links = Array.from(document.getElementsByClassName("mobile-link"));
    links.forEach((link) => {
      link.addEventListener("click", (e) => {
        mobileLinks?.classList.add("hidden");
      });
    });
    function handleScroll() {
      console.log("scrolling");
      const scrollTop =
        document.documentElement.scrollTop || document.body.scrollTop;
      if (scrollTop > 20) {
        navbar?.classList.add("scrolled");
      } else {
        navbar?.classList.remove("scrolled");
      }
    }

    body?.addEventListener("scroll", handleScroll);
  });
  const burger = document.getElementById("menu");
  const mobileLinks = document.getElementById("mobile-links");
  burger?.addEventListener("click", (event) => {
    mobileLinks?.classList.toggle("hidden");
    burger.classList.toggle("turned");
    console.log("Menu clicked");
  });
</script>
<style>
  .logo {
    width: 100px;
    height: auto;
    z-index: 3;
    @media screen and (max-width: 767px) {
      width: 80px;
    }
  }
  .menu-button-wrapper {
    display: none;
    width: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: absolute;
    @media screen and (max-width: 767px) {
      position: relative;
      display: flex;
      width: 80px;
    }
  }
  .menu {
    width: 30px;
    height: auto;
    display: none;
    z-index: 3;
    transition: all 0.2s cubic-bezier(0.405, 0.935, 0.625, 0.895);
    transform: rotate(0);
    filter: invert(100%);
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
  .turned {
    transform: rotate(180deg);
  }
  .scrolled {
    background: var(--verydarkgray) !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  a {
    color: var(--lightgray);
    text-decoration: none;
    font-size: 0.6rem;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    @media screen and (max-width: 767px) {
      font-size: 0.7rem;
    }
  }
  a:hover {
    color: var(--sand);
  }
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
    background: transparent;
    transition: all 0.15s ease-in-out;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;*/
    @media screen and (max-width: 767px) {
      padding: 3px 10px;
    }
  }
  .nav-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    padding: 15px;
    width: 100%;
  }
  .mobile-links {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 0.3s cubic-bezier(0.405, 0.935, 0.625, 0.895);
    transform: translateY(0);
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100vh;
    background: black;
    opacity: 1;
    @media screen and (max-width: 767px) {
      display: flex;
    }
  }
  .hidden {
    transform: translateY(-100vh);
    opacity: 0;
  }
</style>
