---
import projects from "@/content/projects.js";
import ProjectTag from "./ProjectTag.astro";
import Circles from "@/assets/Swirl.webp";
import Arrow from "@/assets/Arrow_sand.svg";
import { translations } from "@/content/translations";
import { buttonTranslations } from "@/content/translations";
const pageLanguage = Astro.params.lang;
const { currentUrl, language } = Astro.props;
const heading = {
  de: "Projekte",
  en: "Projects",
};
const subtitle = {
  de: "Bekleidung, die einfach funktioniert",
  en: "Clothing that simply works",
};
// Astro image importieren
---

<section id="projects">
  <img src={Circles.src} alt="" class="img-absolute" />
  <div class="container">
    <h2 class="animatable">{heading[language]}</h2>
    <p class="subtitle animatable">{subtitle[language]}</p>
    <div class="rezensionen-grid">
      {
        projects.map((project) => {
          return (
            <div class="rezension-card animate-in-right">
              <div>
                <div class="icon-and-title">
                <div class="project-image-wrapper">
                  {project.images.map((image) => {
                    return (
                      <img
                        src={image}
                        alt=""
                        class="card-icon"
                        loading="lazy"
                        width="150"
                        height="150"
                      />
                    );
                  })}
                </div>
                <div class="project-tag-wrapper">
                 <!-- {project.tags[pageLanguage].map((tag) => {
                    return <ProjectTag tagContent={tag} colorScheme="bright"/>;
                  })}-->
                  <ProjectTag colorScheme="bright"
                    tagContent={`${project.amount} ${translations(
                      "menge",
                      pageLanguage,
                    )}`}
                  />
                  <ProjectTag tagContent={project.customer[pageLanguage]} colorScheme="bright"/>
                  <ProjectTag tagContent={project.tl} colorScheme="bright"/>
                  <ProjectTag tagContent={project.date} colorScheme="bright"/>
                  <ProjectTag tagContent={project.status[pageLanguage]} colorScheme="bright"/>
                </div>
                <p class="card-title">{project.title[pageLanguage]}</p>
              </div>
              <p class="card-text">{`${project.shortDescription[pageLanguage].slice(0, 200)}...`}</p>
              </div>
              
              <a
                href={`/${pageLanguage}/projects/${project.slug}`}
                class="project-link"
              >
                <img src={Arrow.src} alt="" />
                <span>{buttonTranslations("mehr", language)}</span>
              </a>
            </div>
          );
        })
      }
    </div>
  </div>
</section>

<style>
  section {
    position: relative;
    padding: 50px 0 !important;
    background: var(--verydarkgray);
  }
  .img-absolute {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    width: 50%;
    @media screen and (max-width: 820px) {
      width: 80%;
    }
  }
  .container {
    position: relative;
    align-items: flex-start;
    @media screen and (max-width: 820px) {
      padding: 0 20px;
    }
    @media screen and (max-width: 1028px) and (min-width: 821px) {
      padding: 0 70px;
    }
  }
  .subtitle {
    text-align: left;
    margin: 0;
    font-weight: 600;
    color: var(--sand);
  }
  .scribble {
    position: absolute;
    top: 0;
    left: 5vw;
    object-fit: contain;
    z-index: -1;
    opacity: 0.2;
    width: 20%;
  }
  .rezensionen-grid {
    width: 100%;
    display: grid;
    gap: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 55px;
    @media screen and (max-width: 820px) {
      grid-template-columns: 1fr;
    }
    @media screen and (max-width: 1028px) and (min-width: 821px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  .rezension-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    background: transparent;
    padding: 40px;
    border-radius: 20px;
    z-index: 1;
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 25px 50px -12px,
      0 0 0 0.35px var(--lightgray);
  }
  .rezension-card p {
    margin: 0;
  }
  .project-tag-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
  }
  .card-icon {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
  }
  .card-title {
    font-weight: 800;
    font-size: 1.1rem;
    margin-bottom: 5px !important;
    color: var(--lightgray);
  }
  .card-text {
    font-size: 0.8rem;
    color: var(--lightgray)
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  section {
    padding: 50px 0;
  }
  h2 {
    align-self: flex-start;
    margin-bottom: 0px;
    font-size: 3rem;
    font-family: "Afacadflux", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--sand);
  }
  .icon-and-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
  }
  .project-image-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 0;
  }
  .project-link {
    color: var(--sand);
    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: gap 0.3s ease-in-out;
    gap: 10px;
    font-family: "Afacadflux", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .project-link:hover {
    gap: 13px;
  }
  .project-link img {
    width: 10px;
    height: 10px;
  }
</style>
