---
import felix from "@/assets/team/felix_feuchter.webp";
import klaus from "@/assets/team/klaus_feuchter.webp";
import sabrina from "@/assets/team/sabrina_feuchter.webp";
import gabriele from "@/assets/team/gabriele_feuchter.webp";
import lea from "@/assets/team/lea_feuchter.webp";
import markus from "@/assets/team/markus_feuchter.webp";
import avatar from "@/assets/team/avatar.webp";
const { language } = Astro.props;
const headline = {
  de: "Lernen Sie das Team kennen",
  en: "Meet the team",
};
const cite = {
  de: `"Unsere Liebe zum Detail und unser Anspruch an Perfektion
                treiben uns jeden Tag aufs Neue an. Auch in der
                Großserienproduktion geben wir uns nicht mit dem Durchschnitt
                zufrieden – denn echte Qualität zeigt sich in den kleinen
                Dingen. Dafür stehen wir mit Stolz seit über 60 Jahren."`,
  en: `"Our passion for detail and our commitment to perfection drive us every single day. Even in large-scale production, we never settle for average – because true quality reveals itself in the little things. We've proudly stood by that belief for over 60 years."`,
};
const leaders = [
  {
    img: klaus.src,
    name: "Klaus Feuchter",
  },
  {
    img: markus.src,
    name: "Markus Feuchter",
  },
];
const teamMembers = [
  /*{
    img: klaus.src,
    name: "Klaus Feuchter",
    role: {
      de: "CEO",
      en: "CEO",
    },
  },*/
  /*{
    img: markus.src,
    name: "Markus Feuchter",
    role: {
      de: "Qualitätsmanagement",
      en: "Qualitymanagement",
    },
  },*/
  {
    img: sabrina.src,
    name: "Sabrina Feuchter",
    role: {
      de: "Produktentwicklung",
      en: "Product Development",
    },
  },
  {
    img: avatar.src,
    name: "Kathrin Hinz",
    role: {
      de: "Assistentin d. Geschäftsführung",
      en: "Executive Assistant",
    },
  },
  {
    img: gabriele.src,
    name: "Gabriele Feuchter",
    role: {
      de: "Leitung d. Finanzbuchhaltung",
      en: "Head of Financial Accounting",
    },
  },
  {
    img: lea.src,
    name: "Lea Feuchter",
    role: {
      de: "Finanzbuchhaltung",
      en: "Financial Accounting",
    },
  },
  {
    img: felix.src,
    name: "Felix Feuchter",
    role: {
      de: "Head of Marketing, PR & Design",
      en: "Head of Marketing, PR & Design",
    },
  },
  {
    img: avatar.src,
    name: "Monika Walter",
    role: {
      de: "Logistik & Lagerverwaltung",
      en: "Logistics & Warehouse Management",
    },
  },
  /*{
    img: avatar.src,
    name: "Maximilian Hierl",
    role: {
      de: "M. Eng. Qualitätsingenieur",
      en: "M. Eng. Quality Engineer",
    },
  },*/
];
const leading = {
  de: "Geschäftsführung",
  en: "Management",
};
const team = {
  de: "Das Team",
  en: "The Team",
};
---

<section>
  <div class="container">
    <div class="title-and-cite">
      <h2 class="animate-in-right">{headline[language]}</h2>
      <p class="zitat">
        {cite[language]}
      </p>
    </div>
    <div class="right">
      <div class="leaders">
        <h3>{leading[language]}</h3>
        <div class="grid">
          {
            leaders.map((item) => {
              return (
                <div class="grid-item animatable">
                  <img src={item.img} alt="" />
                  <div class="grid-item-text">
                    <p>{item.name}</p>
                  </div>
                </div>
              );
            })
          }
        </div>
      </div>
      <div class="lower">
        <h3>{team[language]}</h3>
        <div class="grid">
          {
            teamMembers.map((item) => {
              return (
                <div class="grid-item animatable">
                  <img src={item.img} alt="" />
                  <div class="grid-item-text">
                    <p>{item.name}</p>
                    <span>{item.role[language]}</span>
                  </div>
                </div>
              );
            })
          }
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background: var(--verydarkgray);
  }
  .container {
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    @media screen and (max-width: 820px) {
      flex-direction: column;
      padding: 50px 20px;
    }
    @media (min-width: 821px) and (max-width: 1028px) {
      padding: 0 70px;
    }
  }
  .right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .lower {
    margin-top: 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    @media (max-width: 769px) {
      grid-template-columns: 1fr;
    }
    @media (min-width: 770px) and (max-width: 820px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 821px) and (max-width: 1028px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  .grid-item {
    position: relative;
    padding: 0;
    border-radius: 25px;
    overflow: hidden;
  }
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  .grid-item-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: var(--lightgray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  p {
    color: var(--lightgray);
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
  }
  span {
    font-family: "Afacadflux", sans-serif;
    font-size: 0.9rem;
    color: var(--sand);
    text-transform: uppercase;
    font-weight: 200;
  }
  h2 {
    font-family: "Afacadflux", sans-serif;
    text-transform: uppercase;
    color: var(--sand);
  }
  .title-and-cite {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    @media screen and (max-width: 820px) {
      max-width: 100%;
    }
  }
  .zitat {
    font-weight: 200;
    font-style: italic;
    font-size: 1.2rem;
  }
</style>
